@using FantasyBasketballLeague.Core.Models.Coach
@model BasketballPlayerViewModel

@{
    ViewBag.Title = "Player details page";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="card col-4" style="width: 20rem; margin:auto ">
    <img class="card-img-top" style="width: 19rem; margin:auto "
         src="@Model" alt="Coach Image">
    <div class="d-flex justify-content-center">
        <div class="card " style="width: 50rem;">
            <div class="card-body">
                <h3 class="card-title text-center">Coach</h3>
                <p class="card-text"><span class="fw-bold">First Name: </span>@Model.FirstName</p>
                <p class="card-text"><span class="fw-bold">Last Name: </span>@Model.LastName</p>
                <p class="card-text"><span class="fw-bold">Team: </span>@Model.Team</p>
                <table>
                    <tr class="actions">
                        <th><span class="fw-bold">Actions:</span></th>

                        <td>
                            <a asp-controller="Coach" asp-action="Edit" asp-route-playerId="@Model.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Coach" asp-action="Delete" asp-route-playerId="@Model.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
