@model IEnumerable<PositionViewModel>

@{
    ViewBag.Title = "All Positions";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var position in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">

                <h5 class="card-title mt-1">@position.Name</h5>
                <p class="mb-0">Initials: @position.Initials</p>
            </div>

            <form class="input-group-sm" asp-controller="Position" asp-action="All">
            </form>
            <span class="fw-bold">Actions: </span>
            <a asp-controller="Positions" asp-action="Details" asp-route-id="@position.Id" class="btn btn-success mb-2">View</a>
            <span></span>
            <a asp-controller="Positions" asp-action="Edit" asp-route-id="@position.Id" class="btn btn-primary mb-2">Edit</a>
                <span></span>
            <a asp-controller="Positions" asp-action="Delete" asp-route-id="@position.Id" class="btn btn-danger mb-2">Delete</a>
        </div>
    }
</div>
    
