@using FantasyBasketballLeague.Core.Models.Teams
@model IEnumerable<TeamViewModel>

@{
    ViewBag.Title = "All Teams";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (!Model.Any())
    {
        <h3>There are no teams added.</h3>
    }
    else
    {
        @foreach (var team in Model)
        {
            <div class="card col-4" style="width: 20rem; ">
                <img class="card-img-top" style="width: 18rem; height:20rem"
             src="@team.LogoUrl" alt="Team logo Image">
                <div class="card-body">

                    <h5 class="card-title mt-1">@team.Name</h5>
                    <p class="mb-0">Open positions: @team.OpenPositions</p>
                    <p class="mb-0">League: @(team.League ?? null)</p>
                    <p class="mb-0">Coach: @(team.CoachName ?? null)</p>
                </div>

                <table>
                    <tr class="actions">
                        <th><span class="fw-bold">Actions:</span></th>
                        <td>
                            <a asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id" class="btn btn-success">View</a>
                            <a asp-controller="Teams" asp-action="Edit" asp-route-id="@team.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Teams" asp-action="Delete" asp-route-id="@team.Id" class="btn btn-danger">Delete</a>
                            @if (team.LeagueId == null)
                            {
                                <a asp-controller="Team" asp-action="JoinLeague" asp-route-id="@team.Id" class="btn btn-warning">Join League</a>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        }
    }
</div>

