@using FantasyBasketballLeague.Core.Models.Teams
@model TeamViewModel

@{
    ViewBag.Title = "Details page";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="card col-4" style="width: 20rem; margin:auto ">
    <img class="card-img-top" style="width: 19rem; margin:auto "
         src="@Model.LogoUrl" alt="Team Image">
    <div class="d-flex justify-content-center">
        <div class="card " style="width: 50rem;">
            <div class="card-body">
                <h3 class="card-title text-center">Coach</h3>
                <p class="card-text"><span class="fw-bold">Name: </span>@Model.Name</p>
                <p class="card-text"><span class="fw-bold">Open Positions: </span>@Model.OpenPositions</p>
                <p class="card-text"><span class="fw-bold">Coach: </span>@Model.CoachName</p>
                <p class="card-text"><span class="fw-bold">League: </span>@Model.League</p>
                <table>
                    <tr class="actions">
                        <th><span class="fw-bold">Actions:</span></th>

                        <td>
                            <a asp-controller="Teams" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Teams" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
