@using FantasyBasketballLeague.Core.Models.Teams
@model TeamAddModel

@{
    ViewBag.Title = "Edit Team";
}

<h1 class="text-center" style="color:white">@ViewBag.Title</h1>
<hr style="color:white" />

<div class="text row">
    <div class="row" style="color:white; font-size:large">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-4">
            <form asp-action="Edit" method="post">
                <div class="mb-3">
                    <label asp-for="@Model.Name" class="form-label">Name</label>
                    <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.LogoUrl" class="form-label">Logo URL</label>
                    <input asp-for="@Model.LogoUrl" class="form-control" aria-required="true" />
                    <span asp-validation-for="LogoUrl" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.LeagueId" class="form-label">League</label>
                    <select asp-for="@Model.LeagueId" class="form-control">
                        <option value="" selected>Please Choose...</option>
                        @foreach (var league in Model.Leagues)
                        {
                            <option value="@league.Id">@league.Name</option>
                        }
                    </select>
                    <span asp-validation-for="LeagueId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.CoachId" class="form-label">Coach</label>
                    <select asp-for="@Model.CoachId" class="form-control">
                        <option value=""selected>Please Choose...</option>
                        @foreach (var coach in Model.Coaches)
                        {
                            <option value="@coach.Id">@($"{coach.FirstName} {coach.LastName}")</option>
                        }
                    </select>
                    <span asp-validation-for="CoachId" class="text-danger"></span>
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
                <a class="btn btn-primary" title="Go back to previuos page" href='javascript:history.go(-1)'>Cancel</a>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
