@model IEnumerable<MyTeamViewModel>

@{
    ViewBag.Title = "My Teams";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<h1 class="text-center" style="color:white">@ViewBag.Title</h1>
<hr style="color:white" />

<input class="btn btn-success" value="Add Player" onclick="location.href='@Url.Action("Create","BasketballPlayer")';"  />


@if (Model.Any())
{
    <div class="text-center row">
        @foreach (var team in Model)
        {
            <div class="card col-4" style="width: 20rem; margin: auto;">
                <img class="card-img-top" style="width: 18rem; height:20rem"
             src="@team.LogoUrl" alt="Team logo Image">
                <div class="card-body">

                    <h5 class="card-title mt-1">@team.Name</h5>
                </div>
            </div>
            <table id="dtBasicExample" class="table" width="100%" style="color:white">
                <thead>
                    <tr>
                        <th class="th-sm">
                            First Name
                        </th>
                        <th class="th-sm">
                            Last Name
                        </th>
                        <th class="th-sm">
                            Position
                        </th>
                        <th class="th-sm">
                            Jersey Number
                        </th>
                        <th class="th-sm">
                            Is Captain
                        </th>
                        <th class="th-sm">
                            Is Starter
                        </th>
                        <th class="th-sm">
                            Seasons Played
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in team.Players)
                    {
                        <tr>
                            <td>@player.FirstName</td>
                            <td>@player.LastName</td>
                            <td>@player.Position</td>
                            <td>@player.JerseyNumber</td>
                            <td>@player.IsTeamCaptain</td>
                            <td>@player.IsStarter</td>
                            <td>@player.SeasonsPlayed</td>
                        </tr>
                    }
                </tbody>

                <tfoot>
                    <tr>
                         <th class="th-sm">
                            First Name
                        </th>
                        <th class="th-sm">
                            Last Name
                        </th>
                        <th class="th-sm">
                            Position
                        </th>
                        <th class="th-sm">
                            Jersey Number
                        </th>
                        <th class="th-sm">
                            Is Captain
                        </th>
                        <th class="th-sm">
                            Is Starter
                        </th>
                        <th class="th-sm">
                            Seasons Played
                        </th>
                    </tr>
                </tfoot>
            </table>
            <form class="input-group-sm" asp-controller="Teams" asp-action="All">
            </form>
        }

    </div>
}
else
{
    <h1 class="text-center">You have no teams yet!</h1>
    <input class="btn btn-success" value="Create Team" onclick="location.href='@Url.Action("Create","Teams")';" />
    <input class="btn btn-secondary" value="Cancel" onclick="location.href='@Url.Action("All","Teams")';" />

}

<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
