<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fantasy Basketball League</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FantasyBasketballLeague.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Fantasy Basketball League</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Teams
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a asp-area="" class="dropdown-item" asp-controller="Teams" asp-action="Create">Create</a>
                                            <a asp-area="" class="dropdown-item" asp-controller="Teams" asp-action="Mine">Mine</a>
                                        </li>
                                        @*<li><a href="@Url.Action("Index", "Home", new {area = "Admin"})" class="dropdown-item"><span>Create</span></a></li>
                                        <li><a href="@Url.Action("All", "Teams")" class="dropdown-item"><span>All Teams</span></a></li>
                                        <li><a href="@Url.Action("Mine", "Teams")" class="dropdown-item"><span>My Teams</span></a></li>*@
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
               @* <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">Fantasy Basketball League</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@

                       @* @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                    Teams
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                    <li><a href="@Url.Action("Create", "Teams")" class="dropdown-item"><span>Create</span></a></li>
                                    <li><a href="@Url.Action("All", "Teams")" class="dropdown-item"><span>All Teams</span></a></li>
                                    <li><a href="@Url.Action("Mine", "Teams")" class="dropdown-item"><span>My Teams</span></a></li>
                                </ul>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                    Players
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                    <li><a href="@Url.Action("Create", "BasketballPlayer")" class="dropdown-item"><span>Create</span></a></li>
                                    <li><a href="@Url.Action("All", "BasketballPlayer")" class="dropdown-item"><span>All Players</span></a></li>
                                    <li><a href="@Url.Action("Mine", "Teams")" class="dropdown-item"><span>My Players</span></a></li>
                                </ul>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                    Coaches
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                    <li><a href="@Url.Action("Create", "Coach")" class="dropdown-item"><span>Create</span></a></li>
                                    <li><a href="@Url.Action("All", "Coach")" class="dropdown-item"><span>All Coaches</span></a></li>
                                </ul>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                    Leagues
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                    <li><a href="@Url.Action("Create", "Leagues")" class="dropdown-item"><span>Create</span></a></li>
                                    <li><a href="@Url.Action("All", "Leagues")" class="dropdown-item"><span>All Leagues</span></a></li>
                                </ul>
                            </div>*@

                            @*<li><a href="@Url.Action("All", "Coach")" class="dropdown-item"><span>Coaches</span></a></li>
                        <li><a href="@Url.Action("All", "Leagues")" class="dropdown-item"><span>Leagues</span></a></li>
                        <li><a href="@Url.Action("All", "Positions")" class="dropdown-item"><span>Positions</span></a></li>
                        <li><a href="@Url.Action("All", "BasketballPlayer")" class="dropdown-item"><span>Players</span></a></li>*@

                    <partial name="_LoginPartial" />
                </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color:lightgray" sty>
            &copy; @DateTime.UtcNow.Year - FantasyBasketballLeague
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
