@model IEnumerable<CoachDetailsModel>

@{
    ViewBag.Title = "All Coaches";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var coach in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 15rem;height:18rem; margin:auto;"
             src="@coach.ImageUrl" alt="Team logo Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@($"{coach.FirstName} {coach.LastName}")</h5>
                <p class="mb-0">Team: @(coach.Team ?? "No team assigned")</p>
            </div>

            <table>
                <tr class="actions">
                    <th><span class="fw-bold">Actions:</span></th>
                    <td>
                        <a asp-controller="Coach" asp-action="Details" asp-route-id="@coach.Id" class="btn btn-success">View</a>
                        <a asp-controller="Coach" asp-action="Edit" asp-route-id="@coach.Id" class="btn btn-primary">Edit</a>
                        <a asp-controller="Coach" asp-action="Delete" asp-route-id="@coach.Id" class="btn btn-danger">Delete</a>
                        @if (coach.TeamId == null)
                        {
                            <a asp-controller="Coach" asp-action="Assign" asp-route-id="@coach.Id" class="btn btn-warning">Assign</a>
                        }
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
    
