@model CoachAssignToTeamModel

@{
    ViewBag.Title = "Teams without coaches";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (!Model.Teams.Any())
    {
        <h3>There are no teams looking for a coach.</h3>
    }
    else
    {
        @foreach (var team in Model.Teams)
        {
            <form asp-action="Assign" method="post">
                <div class="card col-4" style="width: 20rem;">
                    <img class="card-img-top" style="width: 18rem; height:20rem; margin:auto;"
                 src="@team.LogoUrl" alt="Team logo Image">
                    <div class="card-body">

                        <h5 class="card-title mt-1">@team.Name</h5>
                        <p class="mb-0">Open positions: @team.OpenPositions</p>
                        <p class="mb-0">League: @(team.League ?? "No league joined")</p>
                        <p class="mb-0">Coach: @(team.CoachName ?? "No coach assigned")</p>
                    </div>

                    <span>
                        <button class="btn btn-success" name="TeamId" type="submit" value="@team.Id">Assign</button>
                    </span>
                </div>
            </form>
        }
    }
</div>