@using FantasyBasketballLeague.Core.Models.Coach
@using FantasyBasketballLeague.Infrastructure.Data.Constants
@model CoachDetailsModel

@{
    ViewBag.Title = "Coach details page";
}

<h1 class="text-center" style="color:white">@ViewBag.Title</h1>
<hr style="color:white" />

<div class="card col-4" style="width: 20rem; margin:auto ">
    <img class="card-img-top" style="width: 19rem; margin:auto "
         src="@Model.ImageUrl" alt="Coach Image">
    <div class="d-flex justify-content-center">
        <div class="card " style="width: 50rem; background-color:lightgrey">
            <div class="card-body">
                <h3 class="card-title text-center">Coach</h3>
                <p class="card-text"><span class="fw-bold">First Name: </span>@Model.FirstName</p>
                <p class="card-text"><span class="fw-bold">Last Name: </span>@Model.LastName</p>
                <p class="card-text"><span class="fw-bold">Team: </span>@(Model.TeamName ?? "Free Agent")</p>
                <table>
                    <tr class="actions">
                        <th><span class="fw-bold">Actions:</span></th>

                        <td>
                            <a asp-controller="Coach" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                            @if (User.IsInRole(RoleConstants.Administrator))
                            {
                                <a asp-controller="Coach" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>

                                if (Model.TeamName == null)
                                {
                                    <a asp-controller="Coach" asp-action="Assign" asp-route-id="@Model.Id" class="btn btn-success">Assign</a>
                                }
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
