@using FantasyBasketballLeague.Core.Models.League
@using FantasyBasketballLeague.Infrastructure.Data.Constants
@model LeagueViewModel

@{
    ViewBag.Title = "Details page";
}

<h2 class="text-center" style="color:white">@ViewBag.Title</h2>
<hr />

<div class="card col-4" style="width: 22rem; margin:auto;">
    <div class="d-flex justify-content-center">
        <div class="card " style="width: 50rem; background-color:lightgray">
            <div class="card-body">
                <h3 class="card-title text-center">League</h3>
                <p class="card-text"><span class="fw-bold">Name: </span>@Model.Name</p>
                <p class="card-text"><span class="fw-bold">Teams: </span>@Model.Count</p>
                <table>
                    <tr class="actions">
                        <th><span class="fw-bold">Actions:</span></th>

                        <td>
                            <a asp-controller="Leagues" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                            @if (User.IsInRole(RoleConstants.Administrator))
                            {
                                <a asp-controller="Leagues" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                                <a asp-controller="Leagues" asp-action="AddTeams" asp-route-id="@Model.Id" class="btn btn-success btn-xs">Add Teams</a>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="text-center row">
    @if (!Model.Teams.Any())
    {
        <h3>There are no teams added.</h3>
    }
    else
    {
        @foreach (var team in Model.Teams)
        {
            <div class="card col-4" style="width: 20rem; margin:.30rem; background-color:lightgrey">
                <img class="card-img-top" style="width: 18rem; height:20rem; margin:auto"
             src="@team.LogoUrl" alt="Team logo Image">
                <div class="card-body">

                    <h5 class="card-title mt-1">@team.Name</h5>
                    <p class="mb-0">Coach: @(team.CoachName ?? "No coach assigned")</p>

                </div>
                @if (User.IsInRole(RoleConstants.Administrator))
                {
                    <table>
                        <tr class="actions">
                            <th><span class="fw-bold">Actions:</span></th>
                            <td>
                                <a asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id" class="btn btn-primary mb-2">View</a>
                                <a asp-controller="Teams" asp-action="Edit" asp-route-id="@team.Id" class="btn btn-warning mb-2">Edit</a>
                                <a asp-controller="Teams" asp-action="Delete" asp-route-id="@team.Id" class="btn btn-danger mb-2">Delete</a>
                            </td>
                    </table>
                }
            </div>
        }
    }
</div>


