@using FantasyBasketballLeague.Core.Models.Position
@model LeagueViewModel

@{
    ViewBag.Title = "Details page";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="card col-4" style="width: 20rem; margin:auto ">
    <div class="d-flex justify-content-center">
        <div class="card " style="width: 50rem;">
            <div class="card-body">
                <h3 class="card-title text-center">League</h3>
                <p class="card-text"><span class="fw-bold">Name: </span>@Model.Name</p>
                <p class="card-text"><span class="fw-bold">Teams: </span>@Model.Count</p>
                <table>
                    <tr class="actions">
                        <th><span class="fw-bold">Actions:</span></th>

                        <td>
                            <a asp-controller="Leagues" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Leagues" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
