@model IEnumerable<BasketballPlayerDetailsModel>

@{
    ViewBag.Title = "All Players";
}

<h1 class="text-center" style="color:white">@ViewBag.Title</h1>
<hr style="color:white" />

<input class="btn btn-success" value="Add Player" onclick="location.href='@Url.Action("Create","BasketballPlayer")';" />

<div class="text-center row">
    @if (!Model.Any())
    {
        <h3>There are no players added.</h3>
    }
    else
    {
        @foreach (var player in Model)
        {
            <div class="card col-4" style="width: 20rem; margin:.30rem; ">
                <img class="card-img-top" style="width: 19rem; height: 21rem; margin:auto "
             src="https://i.pinimg.com/originals/ad/ff/96/adff96743178917890a9309ec43ab4d0.png" alt="Image">
                <div class="d-flex justify-content-center">
                    <div class="card " style="width: 50rem; background-color:lightgrey">
                        <div class="card-body">
                            <h3 class="card-title text-center">@($"{player.FirstName} {player.LastName}")</h3>
                            <p class="card-text"><span class="fw-bold">Team: </span>@player.Team</p>
                            <p class="card-text"><span class="fw-bold">Position: </span>@player.Position</p>
                            <p class="card-text"><span class="fw-bold">Jersey Number: </span>@player.JerseyNumber</p>
                            <p class="card-text"><span class="fw-bold">Seasons Played: </span>@player.SeasonsPlayed</p>
                            <p class="card-text"><span class="fw-bold">Is Starter: </span>@player.IsStarter</p>
                            <p class="card-text"><span class="fw-bold">Is Team Captain: </span>@player.IsTeamCaptain</p>
                            <p class="card-text"><span class="fw-bold">Experience: </span>@player.Experience</p>
                            <table>
                                <tr class="actions">
                                    <th><span class="fw-bold">Actions:</span></th>

                                    <td>
                                        <a asp-controller="BasketballPlayer" asp-action="Details" asp-route-id="@player.Id" class="btn btn-primary">View</a>
                                        <a asp-controller="BasketballPlayer" asp-action="Edit" asp-route-id="@player.Id" class="btn btn-warning">Edit</a>
                                        <a asp-controller="BasketballPlayer" asp-action="Delete" asp-route-id="@player.Id" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

