@model BasketballPlayerViewModel
@{
    ViewBag.Title = "Create a new player";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label asp-for="@Model.FirstName" class="form-label">First Name</label>
                    <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.LastName" class="form-label">Last Name</label>
                    <input asp-for="@Model.LastName" class="form-control" aria-required="true" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.IsStarter" class="form-label">Is Starter</label>
                    <select asp-for="@Model.IsStarter" class="form-control" aria-required="true">
                    <span asp-validation-for="IsStarter" class="text-danger"></span>
                    <option value="" disabled selected hidden>Please Choose...</option>
                    <option value=false>No</option>
                    <option value=true>Yes</option>
                   </select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.IsTeamCaptain" class="form-label">Is Team Captain</label>
                    <select asp-for="@Model.IsTeamCaptain" class="form-control" aria-required="true" >
                    <span asp-validation-for="IsTeamCaptain" class="text-danger"></span>
                    <option value="" disabled selected hidden>Please Choose...</option>
                        <option value=false>No</option>
                    <option value=true>Yes</option>
                   </select>
                </div>
                 <div class="mb-3">
                    <label asp-for="@Model.TeamId" class="form-label">Team</label>
                    <select asp-for="@Model.TeamId" class="form-control" aria-required="true" >
                    <span asp-validation-for="TeamId" class="text-danger"></span>
                    <option value="" disabled selected hidden>Please Choose...</option>
                    @foreach (var team in Model.Teams)
                    {
                        <option value="@team.Id">@team.Name</option>
                    }
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.PositionId" class="form-label">Position</label>
                    <select asp-for="@Model.PositionId" class="form-control" aria-required="true" >
                    <span asp-validation-for="PositionId" class="text-danger"></span>
                    <option value="" disabled selected hidden>Please Choose...</option>
                    @foreach (var position in Model.Positions)
                    {
                        <option value="@position.Id">@($"{position.Name} - {position.Initials}")</option>
                    }
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.SeasonsPlayed" class="form-label">Seasons Played</label>
                    <input asp-for="@Model.SeasonsPlayed" class="form-control" aria-required="true" />
                    <span asp-validation-for="SeasonsPlayed" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.JerseyNumber" class="form-label">Jersey Number</label>
                    <input asp-for="@Model.JerseyNumber" class="form-control" aria-required="true" />
                    <span asp-validation-for="JerseyNumber" class="text-danger"></span>
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
                <input class="btn btn-secondary" value="Cancel" onclick="location.href='@Url.Action("All","BasketballPlayer")';" />
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
