@using FantasyBasketballLeague.Core.Models.Coach
@model BasketballPlayerDetailsModel

@{
    ViewBag.Title = "Player details page";
}

<h1 class="text-center" style="color:white">@ViewBag.Title</h1>
<hr style="color:white" />

<div class="card col-4" style="width: 20rem; margin:auto ">
    <img class="card-img-top" style="width: 19rem; height: 23rem; margin:auto "
         src="https://i.pinimg.com/originals/ad/ff/96/adff96743178917890a9309ec43ab4d0.png" alt="Image">
    <div class="d-flex justify-content-center">
        <div class="card " style="width: 50rem; background-color:lightgrey">
            <div class="card-body">
                <h3 class="card-title text-center">@($"{Model.FirstName} {Model.LastName}")</h3>
                <p class="card-text"><span class="fw-bold">Team: </span>@Model.Team</p>
                <p class="card-text"><span class="fw-bold">Position: </span>@Model.Position</p>
                <p class="card-text"><span class="fw-bold">Jersey Number: </span>@Model.JerseyNumber</p>
                <p class="card-text"><span class="fw-bold">Seasons Played: </span>@Model.SeasonsPlayed</p>
                <p class="card-text"><span class="fw-bold">Is Starter: </span>@Model.IsStarter</p>
                <p class="card-text"><span class="fw-bold">Is Team Captain: </span>@Model.IsTeamCaptain</p>
                <p class="card-text"><span class="fw-bold">Experience: </span>@Model.Experience</p>
                <table>
                    <tr class="actions">
                        <th><span class="fw-bold">Actions:</span></th>

                        <td>
                            <a asp-controller="BasketballPlayer" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="BasketballPlayer" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                            <a class="btn btn-primary" title="Go back to previuos page" href='javascript:history.go(-1)'>Back</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
